# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Logs and databases
*.log
*.sql
*.sqlite

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
